:root {
    
}
#operationDisplay {
text-align: right;
}
#resultDisplay {
text-align: right;
}
body {
    background-color: gold;
    font-size: 32px;
}
main {
    border-style: dashed;
    border-width: 20px;
    border-color:rgb(209, 253, 12);  
}
main > div{
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;

}
main > div > p {
    border-radius: 100px;
    border-color: azure;
    border-width: 10px;
    border-style:solid;
    inline-size: 20%;
    padding: 20px 20px 20px 20px;


}
.input {
    background-color: rgb(214, 224, 224);
}